body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/Fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.piano {
    margin-bottom: 15%;
}

.white-key {
    display: inline-block;
    font-size: 4vw; /* Utiliza vw para el tamaño de fuente */
    font-weight: bold;
    width: 130px;
    height: 400px;
    border: 2px solid #333;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.play {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    border-radius: 3rem;
    position: relative;
    background: #100720;
    transition: 0.1;
}

.play::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle 
    farthest-corner at 10% 20%, rgba(255,94,247,1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 10;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #fff; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-35%, -49%) rotate(90deg); 
    z-index: 1; 
}

.white-key:hover {
    animation: brillito 2s infinite;
}

@keyframes brillito {
    0% {
        background: #ff7300; 
    }
    20% {
        background: #df6c00;
    }
    30% {
        background: #be5600;
    }
    50% {
        background: #7e4300; 
    }
    100% {
        background: #5c2c00; 
    }
}

.black-keys {
    position: relative;
    display: flex;
    margin-top: -200px;
    z-index: 2;
}
.black-key, .black-key1 {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 60px;
    height: 200px;
    border: 2px solid #333;
    text-align: center;
    line-height: 200px;
    position: absolute;
    background-color: black;
    color: white;
    z-index: 1;
} 

.black-key:nth-child(1) { left: 105px; top: -200px;}
.black-key:nth-child(2) { left: 235px; top: -200px;}
.black-key:nth-child(3) { left: 505px; top: -200px;}
.black-key:nth-child(4) { left: 640px; top: -200px;}
.black-key:nth-child(5) { left: 775px; top: -200px;}
.black-key1:nth-child(1) { left: 1040px; top: -200px;}
.black-key1:nth-child(2) { left: 1175px; top: -200px;}
.black-key1:nth-child(3) { left: 1438px; top: -200px;}
.black-key1:nth-child(4) { left: 1575px; top: -200px;}
.black-key1:nth-child(5) { left: 1710px; top: -200px;}

